repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
        args:
          - "--no-banner"
          - "--redact"
          - "--config"
          - ".gitleaks.toml"

